{% extends 'blog/base.html' %}
{% load static %}

{% block content %}


<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>

          <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam totam, illum error 
            quibusdam similique praesentium? Magni expedita reprehenderit iure eum minus obcaecati nulla
            aperiam nemo. Perspiciatis explicabo iste ducimus praesentium necessitatibus deserunt,
            architecto officia, fuga minima eligendi ad inventore placeat at fugit est nisi voluptatibus
            qui accusamus? Rerum quod dolores provident corrupti necessitatibus vitae alias magni beatae
            ut velit quaerat aliquid accusamus dolorum quae repellat dignissimos sint porro excepturi,
            quam delectus. Magni itaque facere eveniet voluptas unde! Laudantium quasi accusantium odio
            omnis distinctio iusto doloribus exercitationem architecto excepturi labore. Recusandae 
            debitis dolores blanditiis suscipit quasi nisi officia consequatur odio? Maiores!</p>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quaerat voluptas ratione quo distinctio ab
            quos nemo itaque repellat nostrum id error modi, architecto laborum harum doloribus. 
            Magni, rem optio!</p>
</div>
{% endblock content %}